{% extends 'base.html' %}

{% block title %}Lista de Profesores{% endblock %}

{% block content %}
    <h1>Lista de Profesores</h1>

    <a href="{{ url_for('crear_profesor') }}" class="btn btn-primary">Crear Nuevo Profesor</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
                <tr>
                    <td>{{ profesor.id_profesor }}</td>
                    <td>{{ profesor.nombre }}</td>
                    <td>{{ profesor.apellido }}</td>
                    <td>{{ profesor.correo }}</td>
                    <td>{{ profesor.telefono }}</td>
                    <td class="acciones">
                        <a href="{{ url_for('editar_profesor', id_profesor=profesor.id_profesor) }}" class="btn btn-edit">Editar</a>
                            </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}