{% extends 'base.html' %}

{% block title %}Lista de Recursos{% endblock %}

{% block content %}
  <h1>Lista de Recursos</h1>

  <a href="{{ url_for('crear_recurso') }}" class="btn btn-primary">Crear Nuevo Recurso</a>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>URL</th>
        <th>Descripción</th>
        <th>Tarea</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for recurso in recursos %}
      <tr>
        <td>{{ recurso.id_recurso }}</td>
        <td>{{ recurso.tipo }}</td>
        <td><a href="{{ recurso.url }}" target="_blank">{{ recurso.url }}</a></td>
        <td>{{ recurso.descripcion }}</td>
        <td>{{ recurso.tarea.titulo }}</td>
        <td class="acciones">
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}