{% extends 'base.html' %}

{% block title %}Crear Tarea{% endblock %}

{% block content %}
    <h1>Crear Tarea</h1>

    <form method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>

        <label for="fecha_asignacion">Fecha de Asignación:</label>
        <input type="date" id="fecha_asignacion" name="fecha_asignacion">

        <label for="fecha_entrega">Fecha de Entrega:</label>
        <input type="date" id="fecha_entrega" name="fecha_entrega">

        <label for="estado">Estado:</label>
        <select id="estado" name="estado">
            <option value="Pendiente">Pendiente</option>
            <option value="En progreso">En progreso</option>
            <option value="Completada">Completada</option>
        </select>

        <label for="id_curso">Curso:</label>
        <select id="id_curso" name="id_curso">
            {% for curso in cursos %}
                <option value="{{ curso.id_curso }}">{{ curso.nombre_curso }}</option>
            {% endfor %}
        </select>

        <button type="submit">Guardar</button>
    </form>
{% endblock %}