{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
    <h1>Lista de Tareas</h1>

    <a href="{{ url_for('crear_tarea') }}" class="btn btn-primary">Crear Nueva Tarea</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha de Asignación</th>
                <th>Fecha de Entrega</th>
                <th>Estado</th>
                <th>Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.id_tarea }}</td>
                    <td>{{ tarea.titulo }}</td>
                    <td>{{ tarea.descripcion }}</td>
                    <td>{{ tarea.fecha_asignacion }}</td>
                    <td>{{ tarea.fecha_entrega }}</td>
                    <td>{{ tarea.estado }}</td>
                    <td>{{ tarea.curso.nombre_curso }}</td>  <!-- Asumiendo relación con Curso -->
                    <td class="acciones">
                        <a href="{{ url_for('editar_tarea', id_tarea=tarea.id_tarea) }}" class="btn btn-edit">Editar</a>
                            </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}