{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido al Sistema de Gestión Académica</h1>

    <p>Seleccione una opción del menú para comenzar:</p>

    <ul class="menu">
        <li><a href="{{ url_for('listar_estudiantes') }}">Estudiantes</a></li>
        <li><a href="{{ url_for('listar_usuarios') }}">Usuarios</a></li>
        <li><a href="{{ url_for('listar_cursos') }}">Cursos</a></li>
        <li><a href="{{ url_for('listar_profesores') }}">Profesores</a></li>
        <li><a href="{{ url_for('listar_tareas') }}">Tareas</a></li>
        <li><a href="{{ url_for('listar_inscripciones') }}">Inscripciones</a></li>
        <li><a href="{{ url_for('listar_comentarios') }}">Comentarios</a></li>
        <li><a href="{{ url_for('listar_recursos') }}">Recursos</a></li>
        <li><a href="{{ url_for('listar_horarios') }}">Horarios</a></li>
        <li><a href="{{ url_for('listar_notificaciones') }}">Notificaciones</a></li>
        <li><a href="{{ url_for('listar_roles') }}">Roles</a></li>
        <li><a href="{{ url_for('listar_curso_profesores') }}">Curso-Profesores</a></li>
    </ul>
{% endblock %}