{% extends 'base.html' %}

{% block title %}Crear Comentario{% endblock %}

{% block content %}
  <h1>Crear Comentario</h1>

  <form method="POST">
    <label for="contenido">Contenido:</label>
    <textarea id="contenido" name="contenido" required></textarea>

    <label for="fecha_creacion">Fecha de Creación:</label>
    <input type="datetime-local" id="fecha_creacion" name="fecha_creacion">

    <label for="id_tarea">Tarea:</label>
    <select id="id_tarea" name="id_tarea">
      {% for tarea in tareas %}
      <option value="{{ tarea.id_tarea }}">{{ tarea.titulo }}</option>
      {% endfor %}
    </select>

    <label for="id_estudiante">Estudiante:</label>
    <select id="id_estudiante" name="id_estudiante">
      {% for estudiante in estudiantes %}
      <option value="{{ estudiante.id_estudiante }}">{{ estudiante.nombre }} {{ estudiante.apellido }}</option>
      {% endfor %}
    </select>

    <button type="submit">Guardar</button>
  </form>
{% endblock %}