{% extends 'base.html' %}

{% block title %}Lista de Comentarios{% endblock %}

{% block content %}
  <h1>Lista de Comentarios</h1>

  <a href="{{ url_for('crear_comentario') }}" class="btn btn-primary">Crear Nuevo Comentario</a>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Contenido</th>
        <th>Fecha de Creación</th>
        <th>Tarea</th>
        <th>Estudiante</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for comentario in comentarios %}
      <tr>
        <td>{{ comentario.id_comentario }}</td>
        <td>{{ comentario.contenido }}</td>
        <td>{{ comentario.fecha_creacion }}</td>
        <td>{{ comentario.tarea.titulo }}</td>
        <td>{{ comentario.estudiante.nombre }} {{ comentario.estudiante.apellido }}</td>
        <td class="acciones">
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}