{% extends 'base.html' %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}
    <h1>Lista de Cursos</h1>

    <a href="{{ url_for('crear_curso') }}" class="btn btn-primary">Crear Nuevo Curso</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Curso</th>
                <th>Descripción</th>
                <th>Créditos</th>
                <th>Semestre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.id_curso }}</td>
                    <td>{{ curso.nombre_curso }}</td>
                    <td>{{ curso.descripcion }}</td>
                    <td>{{ curso.creditos }}</td>
                    <td>{{ curso.semestre }}</td>
                    <td class="acciones">
                        <a href="{{ url_for('editar_curso', id_curso=curso.id_curso) }}" class="btn btn-edit">Editar</a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}