{% extends 'base.html' %}

{% block title %}Lista de Notificaciones{% endblock %}

{% block content %}
    <h1>Lista de Notificaciones</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Mensaje</th>
                <th>Fecha de Envío</th>
                <th>Estudiante</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for notificacion in notificaciones %}
                <tr>
                    <td>{{ notificacion.id_notificacion }}</td>
                    <td>{{ notificacion.mensaje }}</td>
                    <td>{{ notificacion.fecha_envio }}</td>
                    <td>{{ notificacion.estudiante.nombre }} {{ notificacion.estudiante.apellido }}</td>
                    <td class="acciones">
                         
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}