{% extends 'base.html' %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}
  <h1>Crear Usuario</h1>

  <form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="id_rol">Rol:</label>
    <select id="id_rol" name="id_rol">
      {% for rol in roles %}
      <option value="{{ rol.id_rol }}">{{ rol.nombre }}</option>
      {% endfor %}
    </select>

    <button type="submit">Guardar</button>
  </form>
{% endblock %}