{% extends 'base.html' %}

{% block title %}Lista de Inscripciones{% endblock %}

{% block content %}
  <h1>Lista de Inscripciones</h1>

  <a href="{{ url_for('crear_inscripcion') }}" class="btn btn-primary">Crear Nueva Inscripción</a>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha de Inscripción</th>
        <th>Estudiante</th>
        <th>Curso</th>
        <th>Calificación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for inscripcion in inscripciones %}
      <tr>
        <td>{{ inscripcion.id_inscripcion }}</td>
        <td>{{ inscripcion.fecha_inscripcion }}</td>
        <td>{{ inscripcion.estudiante.nombre }} {{ inscripcion.estudiante.apellido }}</td>
        <td>{{ inscripcion.curso.nombre_curso }}</td>
        <td>{{ inscripcion.calificacion }}</td>
        <td class="acciones">
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}