{% extends 'base.html' %}

{% block title %}Lista de Horarios{% endblock %}

{% block content %}
  <h1>Lista de Horarios</h1>

  <a href="{{ url_for('crear_horario') }}" class="btn btn-primary">Crear Nuevo Horario</a>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Día</th>
        <th>Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for horario in horarios %}
      <tr>
        <td>{{ horario.id_horario }}</td>
        <td>{{ horario.hora_inicio }}</td>
        <td>{{ horario.hora_fin }}</td>
        <td>{{ horario.dia }}</td>
        <td>{{ horario.curso.nombre_curso }}</td>
        <td class="acciones">
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}